<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>  
            <a href="/assignmentslist/add" class="btn btn-primary" 
            role="button"><i class="fas fa-plus-circle"></i> Add Assignment</a>      
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Subject</th>
                <th class="text-center col-1">Deadline</th>
                <th class="text-center col-4">Overview</th>
                <th class="text-center col-1">Weight</th>
            </tr>
            <% for(let count=0;count<AssignmentList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= AssignmentList[count].Name %></td>
                <td class="text-center col-2"><%= AssignmentList[count].Subject %></td>
                <td class="text-center col-1"><%= AssignmentList[count].Deadline %></td>
                <td class="text-center col-4"><%= AssignmentList[count].Overview %></td>
                <td class="text-center col-1"><%= AssignmentList[count].Weight %></td>
                <td class="text-center col-1">
                    <a href="/assignmentslist/edit/<%= AssignmentList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/assignmentslist/delete/<%= AssignmentList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>